MONGODB_URI=
JWT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_5_CREDITS=
STRIPE_PRICE_10_CREDITS=
STRIPE_PRICE_25_CREDITS=
STRIPE_PRICE_50_CREDITS=
CLIENT_URL=
API_URL=
ADMIN_EMAIL=
ADMIN_PASSWORD=
